{% extends 'shared/_layout.html' %}

{% block title %}
    Password Sent
{% endblock %}

{% block content %}
    <section class="big-section bg-light-gray">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 text-center margin-six-bottom">
                        <h6 class="alt-font text-extra-dark-gray font-weight-500">Password reset sent</h6>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5 bg-gradient-fast-blue-purple">
                        <div class="padding-6-rem-all xl-padding-2-rem-all md-padding-5-rem-all">
                            <i class="ti-quote-left icon-medium text-white margin-25px-bottom"></i>
                            <h6 class="alt-font font-weight-500 text-white letter-spacing-minus-1 margin-30px-bottom">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.

If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</h6>
                            <span class="alt-font text-uppercase text-white text-medium opacity-7">- Arne Jacobsen</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}